/* make links appear as normal text */
a {
  color: inherit;
  text-decoration: inherit;
}

/* formatting for webpage behavior */
body {
  font-family: Arial;
  margin: 0;
  background-color: #13293d;
}

main {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 1;
  max-width: 400%;
  flex: 0 0 100%;
  width: auto;
  border: 5px solid #13293d;
  background-color: #2a607c;
}

p {
  color: #fff;
  text-indent: 4%;
}

main h3 {
  text-align: center;
  line-height: 400%;
  margin: 0;
  padding: 0;
  float: inline-start;
  width: 150px;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2a607c;
  color: #fff;
  border-right: 5px solid #13293d;
}

footer h3,
footer ul,
nav {
  margin: 0;
  text-align: center;
  color: #fff;
  list-style: none;
  padding-top: 1px;
  padding-bottom: 1px;
  border-left: 5px solid #13293d;
  border-right: 5px solid #13293d;
  background-color: #2a607c;
  text-decoration: none;
}
nav li {
  display: inline;
  padding-left: 7%;
  padding-right: 7%;
}

footer ul {
  border-bottom: 5px solid #13293d;
  padding-bottom: 20px;
}

footer ul li {
  display: inline;
  padding-left: 10%;
  padding-right: 10%;
}

.main-header {
  display: flex;
  justify-content: center;
  background: #13293d;
  color: #fff;
}

/*Card Formatting(this could probably be made more efficient) */
.projects {
  justify-content: center;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.card1 {
  margin: 0;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 15px 15px 15px #13293d;
  background-color: black;
}

.card {
  flex-grow: 1;
  flex-basis: 1;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 20px;
  width: 30%;
  border-radius: 20px;
  box-shadow: 15px 15px 15px #13293d;
  background-color: black;
}

.card1 header,
.card header {
  text-align: center;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  background-color: #13293d;
  color: #fff;
}

.card1 img,
.card img {
  width: 100%;
  border-radius: 0px 0px 20px 20px;
}

/* functionality for shading image when hovered */
.card img:hover,
.card1 img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  box-shadow: 0 0 0px #000000;
}

/* functionality for fomatting on smaller screens */
@media screen and (max-width: 768px) {
  p {
    padding-bottom: 40px;
    text-indent: 4%;
  }
  nav li {
    text-align: center;
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
  }

  footer ul li {
    text-align: center;
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
  }
  .main-header {
    font-size: 80%;
  }

  .card1,
  .card {
    margin: 0;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 80%;
    border-radius: 20px;
    box-shadow: 15px 15px 15px #13293d;
  }
}
